# Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
.venv/
venv/
env/

# Django
/media/
/staticfiles/
*.log

# Entorno / secretos
.env
.env.*
!.env.example

# Editores / SO
.vscode/
.idea/
Thumbs.db
